@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100');
* {font-family: 'Fira Sans', sans-serif;font-weight:100;font-size:12px;letter-spacing:2px;}
::-moz-selection {color:#fff;background:#FF6C60;}
::selection      {color:#fff;background:#FF6C60;}
body {background:#F1F2F7;margin:0;}
.welcome {width:100vw;height:100vh;background:linear-gradient(rgba(8,57,82,1),rgba(8,57,82,1));}
.terminal {position:absolute;color:#fff;z-index:1000;margin:10px;}
.overlay {width:100vw;height:100vh;background:linear-gradient(rgba(8,57,82,0.5),rgba(8,57,82,0.5));-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;z-index:1000;position:fixed;}